* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Google Icons */
.material-symbols-outlined {
    display: block;
    
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}