package templates

templ Logo() {
    <div class="inline-flex items-center justify-center w-16 h-16 bg-gradient-to-r from-blue-500 to-purple-600 rounded-2xl mb-4 shadow-2xl">
        <span class="text-2xl font-bold">Y</span>
    </div>
}